<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>寄件</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.min.css"/>
</head>
<body>
<style>
.center{
	text-align:center;
	 line-height:35px;
}
.line{
	text-align:left;
	 line-height:30px;
}
.red{
	text-align:center;
	color:red;
	font-size:25px;
}
</style>

<div class="page">
   
     <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="/kuaidi/xiadan/xiadan?type=ji" class="weui-btn weui-btn_primary" >在线下单寄件、上门取件</a>
        </p>
    </div>
   
    
    <div class="page__bd">
        <article class="weui-article">
           
            <section>
                <h2 class="title">寄件优惠：寄件一次、下次立减一元</h2>
                 <p>
                        <img src="__PUBLIC__/upload/ad/jijian.jpg" width="100%" alt="寄件">
                       
                  </p>
                  
                <section>
                    
                    <p class="center">
                 寄件一次、下次立减一元
                    </p>
                    
                    <p>
                        <img src="__PUBLIC__/article/jijian_price.jpg" width="100%" alt="寄件价格">
                       
                  </p>
                </section>
                
                 <p class="center">
                 北京、河北、内蒙古、新疆 停止收件
                    </p>
                
        </article>
    </div>
    
</div>


        
        
        
 <include file="public/wx_share"/>
</body>
</html>