<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>专插本</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="__PUBLIC__/css/weui/weui.min.css"/>
</head>
<body>
<style>
.center{
	text-align:center;
	 line-height:35px;
}
.line{
	text-align:left;
	 line-height:30px;
}
.red{
	text-align:center;
	color:red;
	font-size:25px;
}
</style>

<div class="page">
    
    <div class="page__bd">
        <article class="weui-article">
           
            <section>
                <h2 class="title">大专生的你，如何备考18年的专插本？</h2>
                 <p>
                        <img src="__PUBLIC__/article/zhuanchaben.jpg" width="100%" alt="专插本">
                       
                  </p>
                  
                <section>
                    
                    <p class="center">
                      高考失利，无缘本科<br>
只能做大专生<br>
心情自然丧！<br>
然而，机会还是有的<br>
那就是2018年广东专插本，跃进本科圈<br>
                    </p>
                </section>
                
                <section>
                   
                    <p class="center">
                    专科生获得全日制本科文凭的唯一途径<br>
比高考复读一年更加有价值<br>
以更加理性的态度重新去选择专业<br>
广东专插本考试一年火热过一年<br>
据网上最新数据统计<br>
2017年广东专插本考试网上报名人数27900人<br>
最终录取人数超过将近8000人<br>

  </p>
</section>
<section>
<h3>什么是专插本考试？</h3>
<p class="line">
1、专插本考试是面向专科在读应届毕业生举行的全省统一考试，考试形式和高考类似。<br><br>
2、考试科目有三科统考科目+两科专业科目，统考科目为：政治、英语、数学、语文、管理学、艺术设计、民法 等等<br><br>
3、主考院校有：仲恺学院、五邑大学、广东技师、广东科技、岭南师范学院、嘉应学院、吉珠大、中大新华、东莞理工等二十多所本科院校。<br><br>
4、录取制度为择优录取，例如岭南师范学院--学前教育专业，计划招生人数为50人，如果报考人数120人，择优录取考试成绩前50名。<br><br>
5、学习形式为全日制两年，即专科3年毕业后，插到本科大三开始读，大三、大四共两年。<br><br>
6、录取后为国家任务生，拿到全日制普高本科文凭，和高考考生去读四年本科的同学拿到的毕业证一样。<br><br>
 </p>
</section>
<h3>如何备考专插本？</h3>
<p class="line">
1、除了考试指定教材以外，你还需要全面的、系统的教材配套辅导资料。<br><br>
2、自2010起的历年考试真题、真题解析。<br><br>
3、历年考试的高频考点、考试难点。<br><br>
4、全心投入到备考阶段（8个月以上的学习期是最好的，越早准备对考试越有利）。<br><br>
5、考试之前根据实际情况参加一些考前冲刺押题班（根据自身的实际情况来决定）。
  </p>
</section>
<p>
  <img src="__PUBLIC__/article/zhuanchaben-book.jpg" width="100%" alt="专插本">
</p>
<p>这套资料涉及到考试大纲，重点笔记，历年真题，你值得拥有哦。</p>
<section>

<p>
专插本可以报考的专业？该选择什么专业？选择什么学校更好？通过率多少等，欲想了解更多，动动手指添加：专插本校园负责人帽子师兄微信
</p>
<p class="center">
  <img src="__PUBLIC__/article/zhuanchaben-wx.jpg" width="80%" alt="专插本">
</p>

</section>
<p class="center">
Tel :13217679705【微信同号】 <br>短号 ：693473<br>
or<br>
或者添加：专插本咨询黄老师微信
</p>
<p class="center">
  <img src="__PUBLIC__/article/zhuanchaben-huang.jpg" width="80%" alt="专插本">
</p>
<p>
专升本专插本咨询老师Tel:13760641629【微信同号】
</p>
        </article>
    </div>
   
   <p class="red">已咨询的同学：<br>
   </p>
        <div class="icon">
        <foreach item="v" name="all">
            <img src="{$v.uid|get_img_by_uid}" width="38px"></i>
         </foreach>
        </div>
        
        
        
        
</div>


        
        
        
 <include file="public/wx_share"/>
</body>
</html>