<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>招聘</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="__PUBLIC__/css/weui/weui.css"/>
</head>
<body>
<style>
.center{
	text-align:center;
}
</style>

<div class="page">
    
    <div class="page__bd">
        <article class="weui-article">
           
            <section>
                <h2 class="title">驿源信息科技有限公司招新</h2>
                 <p>
                        <img src="__PUBLIC__/job/new.jpg" width="100%" alt="招聘">
                       
                  </p>
                  
                <section>
                    <h3>简介：</h3>
                    <p>
                       公司由广东轻工职业技术学院15级在校学生创立，驿源团队于2016年3月份成立，并于2017年三月正式注册公司，公司注册资金五十万元人民币。
公司目前涉及主要项目有智能物流，餐饮，数码电商以及其他小业务。未来更会以互联网平台为基础，依托品牌影响力，涉足其他更广阔领域。
                    </p>
                </section>
                
                <section>
                    <h3>招聘：</h3>
                    <p>
			                        由于业务涉及范围之广，现在面向广轻诚聘兼职人员：<br>
			1.核心业务团队，涉及销售，推广，招生<br>
			2.综合管理人员，如财务， 事业部主管<br>
			3.快递，外卖，等配送兼职<br>
                    </p>
                </section>
                
            </section>
        </article>
    </div>
   <div class="page__ft center">
        <a href="javascript:;"><img src="__PUBLIC__/job/qrcode.jpg" width="60%" /></a>
    </div>
</div>
 <include file="public/wx_share"/>
</body>
</html>