
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>商家后台</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
     <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
     <script type="text/javascript" src="http://yudw.com/ok/example/example.js"></script>
</head>
<body>
<script type="text/javascript" src="http://yudw.com/ok/example/weui.min.js" ></script>
<script type="text/javascript" src="http://yudw.com/ok/example/zepto.min.js" ></script>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    
    
    
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">商家后台</h2>
        <p class="weui-msg__desc">由于你是商家，优先进入商家后台</p>
    </div>
   


    <div class="page">
    <div class="page__hd">
        <h1 class="page__title">商家功能</h1>
       
    </div>
    <div class="weui-grids">
 
        <a href="{:U('shangjia/waimai/xiadan')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__PUBLIC__/work/wm.jpg" alt="">
            </div>
            <p class="weui-grid__label">商家外卖下单</p>
        </a>
        
         <a href="{:U('shangjia/index/info')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__PUBLIC__/work/info.jpg" alt="">
            </div>
            <p class="weui-grid__label">修改商家信息</p>
        </a>
        
        <a href="{:U('kuaidi/order/order_list')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="__PUBLIC__/work/list.jpg" alt="">
            </div>
            <p class="weui-grid__label">所有订单(取消订单)</p>
        </a>
        
    </div>
    
     <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="__ROOT__/work/index/index/ref/sj" class="weui-btn weui-btn_primary" >返回员工系统</a>
        </p>
    </div>
    
    
</div>
</div></div></div>

</body></html>