<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>修改商家信息</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.css">
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
</head>
<body>


<div class="page">

 <div class="page__bd">
        <article class="weui-article">
            <h1><b><center>修改商家信息</center></b></h1>
            <section>

                    <p>
                        <center>商家：{$user.user_id|get_name_by_uid}</center>
                    </p>
 
            </section>
        </article>
    </div>


    <form method="post">
     <input type="hidden" name="name" value=""/>
     
    <div class="page__bd">
       

        <div class="weui-cells__title">商家信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">商家名字</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="name" type="text" placeholder="姓名" name="name" value="{$shangjia.name}"/>
                </div>
            </div>
           
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                <div class="weui-cell__bd">
            <input type="text" class="weui-input" type="number"  id="mobile" name="mobile" onpaste="this.value=this.value.replace(/[^\d-]/g,'')" onKeyUp="this.value=this.value.replace(/[^\d-]/g,'')" maxlength="15" placeholder="手机号码" value="{$shangjia.mobile}"/>
                </div>
            </div>
            
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">短号</label></div>
                <div class="weui-cell__bd">
                <input type="text" class="weui-input" type="number"  id="duanhao" name="duanhao" onpaste="this.value=this.value.replace(/[^\d-]/g,'')" onKeyUp="this.value=this.value.replace(/[^\d-]/g,'')" placeholder="短号" value="{$shangjia.duanhao}"/>
                </div>
            </div>
           
           
          
            
            
        </div>

        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" type="submit" >保存修改</button>
        </div>
    </div>
   </form>
</div>


	<div class="weui-btn-area">
            <a href="{:U('index')}" class="weui-btn weui-btn_plain-primary"  >返回</a>
    </div>
        
</body>
</html>