
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改订单备注</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
</head>
<body>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    
    <form method="post">
    
    <div class="weui-cells__title">订单备注</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" name="user_note" rows="8">{$user_note}</textarea>
                    
                </div>
            </div>
        </div>
    
    
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_primary" >修改</button>
        </p>
    </div>
    </form>
</div></div></div>

</body></html>