<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><if condition="$from eq 1 ">回复消息<else />用户：{$from}发送消息</if></title>
    <link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.css"/>
<style type="text/css">
body{background-color:#efeff4;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
</style>
</head>
<body>
   
<div class="page">
    <div class="page__hd">
        <h1 class="page__title"><center><if condition="$from eq 1 ">回复消息<else />用户：{$from}发送消息</if></center></h1>
    </div>
    <div class="page__bd">
        <form method="post">
       

      
        <div class="weui-cells weui-cells_form">
            
           
            
        </div>

        <div class="weui-cells__title">内容</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" name="content" placeholder="请输入..." rows="5"></textarea>
                   
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" type="submit" id="showTooltips">发送</button>
        </div>
    </div>
   </form>
</div>
<script type="text/javascript">
    $(function(){
        var $tooltips = $('.js_tooltips');

        $('#showTooltips').on('click', function(){
            if ($tooltips.css('display') != 'none') return;

            // toptips的fixed, 如果有`animation`, `position: fixed`不生效
            $('.page.cell').removeClass('slideIn');

            $tooltips.css('display', 'block');
            setTimeout(function () {
                $tooltips.css('display', 'none');
            }, 2000);
        });
    });
</script>

</body></html>