
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>在线客服</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
</head>
<body>
 <div class="page__bd">
        <article class="weui-article">
            <h1>
感谢您支持实V<br>
在您遇到权益问题时<br>
请您不要隐忍<br>
请在第一时间通知我们<br>
实V团队一定在3小时内为您维权<br>
客服微信：XXD562<br>
客服电话：17329860373
</h1>
        </article>
        
<section>
         <p><center>
             <img src="__PUBLIC__/kefu.jpg" width="60%" alt="">
             </center>
         </p>
</section>
                
                
</div>
   

</body>
</html>