
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>资金处理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
     <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
     <script type="text/javascript" src="http://yudw.com/ok/example/example.js"></script>
</head>
<body>
<script type="text/javascript" src="http://yudw.com/ok/example/weui.min.js" ></script>
<script type="text/javascript" src="http://yudw.com/ok/example/zepto.min.js" ></script>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    
    
   
    
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">驿源资金系统</h2>
        <p class="weui-msg__desc">谨慎操作</p>
    </div>
    
    
    
    
    
    <div class="page">
     <div class="weui-cells" >
 
			<div class="weui-cell weui-cell_access" onclick=" document.location='http://www.yykddn.com/work/money/account';">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">查看所有用户资金</span>
                    <span class="weui-badge" style="margin-left: 5px;">共 {$all} 元</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>

    </div>    
    
    
    <div class="weui-cells" >
 
			<div class="weui-cell weui-cell_access" onclick=" document.location='http://www.yykddn.com/work/money/tixian';">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">处理提现请求</span>
                    <span class="weui-badge" style="margin-left: 5px;">待处理： {$tixian_num} &nbsp;条</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>

    </div>    
    
    
    </div>
    

    
</div></div></div>

</body></html>