<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$article.title}</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="http://yudw.com/css/weui.css"/>
</head>
<body>
<style>
.center{
	text-align:center;
}
</style>

<div class="page">
    
    <div class="page__bd">
        <article class="weui-article">
           
            <section>
                <h1 class="title"><b>{$article.title}</b></h1>
                 <p>
                        <img src="__PUBLIC__/job/new.jpg" width="100%" alt="招聘">
                       
                  </p>
                  
                <section>
                    {$article.content|html_entity_decode}
                </section>
                
                
            </section>
        </article>
    </div>
    
    
    <div class="weui-cells__title">报名请咨询下面微信</div>
       
    
    
   <div class="page__ft center">
        <a href="javascript:;"><img src="__PUBLIC__/job/mengmengda.jpg" width="60%" /></a>
    </div>
    
    
     <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('joblist')}" class="weui-btn weui-btn_primary" >返回列表</a>
        </p>
    </div>
    
    
</div>
 <include file="jianzhi/wx_share"/>
</body>
</html>