<style>
.footer{
	position:fixed;
    bottom:0;
	width: 100%;
}
</style>
<div class="footer">
        <footer class="m-tabbar demo-small-pitch">
            <a href="{:U('kuaidi/index/index')}" class="tabbar-item tabbar-active">
                <span class="tabbar-icon">
                    <i class="icon-home"></i>
                </span>
                <span class="tabbar-txt">快递</span>
            </a>
            <a href="__ROOT__/kefu" class="tabbar-item">
                <span class="tabbar-icon">
                    <i class="icon-ucenter-outline"></i>
                </span>
                <span class="tabbar-txt">客服</span>
            </a>
            <a href="{:U('kuaidi/order/index')}" class="tabbar-item">
                <span class="tabbar-icon">
                    <i class="icon-feedback"></i>
                </span>
                <span class="tabbar-txt">订单</span>
            </a>
            <a href="{:U('kuaidi/user/index')}" class="tabbar-item">
                <div class="tabbar-icon">
                    <i class="icon-setting"></i>
                </div>
                <div class="tabbar-txt">我的</div>
            </a>
        </footer>
</div>