<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$searchrealname}已通过的列表</title>
  <meta name="description" content="一元代拿">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="http://cdn.yudw.com/admin/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="http://cdn.yudw.com/admin/assets/css/amazeui.min.css"/>

  <style type="text/css">
  	.am-table{
  		width: 100%;
		overflow-y: auto;
		_overflow: auto;
		margin: 0 0 1em;
word-break: keep-all;white-space:nowrap;

  	}
  	.am-table>thead{
  		 border-top:1px solid #ddd ;
  		 border-right:1px solid #ddd ;
  	}
    .am-table>tbody{    	
  		  border-right:1px solid #ddd ;
  		  border-bottom:1px solid #ddd ;
    }
  	.am-table>tbody>tr>td{border: none;}
  	.am-table>tbody>tr>td,.am-table>thead>tr>th{
  		  border-top:1px solid #ddd ;
  		  border-left:1px solid #ddd ;
  	}
  	.input{padding: 0px 12px 4px 12px;}
  	.tle{margin-bottom: 12px;}
  </style>
</head>
<body>

<!-- content start -->
  <div class="admin-content">

  <div class="am-cf am-padding">
    
	<div class="am-fl am-cf tle"><strong class="am-text-primary am-text-lg">搜索名字（一个字即可）</strong></div> 
	    <div class="am-g">
	      <div class="am-u-md-10 am-cf">
	        <div class="am-fl am-cf">
	          <div class="am-btn-toolbar am-fl">	
	          	
	          	<form method="post">    
	          	  
		          <div class="am-input-group am-input-group-sm am-u-md-3 input">
		            <input type="text" name="searchrealname" class="am-form-field" placeholder="姓名" value="{$searchrealname}">
		          </div>	   
		          <br>
		         
		         
		          <div class="am-input-group am-input-group-sm am-u-md-3">		   
		            	<input type="submit" class="am-btn am-btn-primary am-btn-xs" />
		           </div>
		          </form>
	          </div>
	        </div>
	      </div>
	    </div>	    
    </div>
    
    
    
    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form" style="width: 100%; overflow: auto;">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                 <th class="table-title">ID</th>
                  <th class="table-title">姓名</th>
                  
                   <th class="table-title">订单</th>
                <th class="table-title">照片</th>
                 <th class="table-title">流水</th>
                 <th class="table-title">禁止</th>
                 <th class="table-title">手机</th>
                  <th class="table-title">短号</th>
                  <th class="table-title">学号</th>
                  <th class="table-title">宿舍</th>
                  <th class="table-title">栋数</th>
              </tr>
          </thead>
          <tbody>
<foreach name="all" item="v">
  <tr>
   <td>{$v.user_id}</td>
               <td>{$v.name}</td>
              
                <td><a href="__ROOT__/work/shenhe/order/user_id/{$v.user_id}">{$v.name}的抢单</a></td>
             <td><a href="__ROOT__/public/uploads/{$v.imgurl}">照片</a></td>
               <td><a href="__ROOT__/work/money/account_log/user_id/{$v.user_id}">资金</a></td>
               <td>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:stop({$v.user_id});">禁止</a>
            	</td>
            	 <td>{$v.mobile}</td>
               <td>{$v.duanhao}</td>
               <td>{$v.xh}</td>
               <td>{$v.sushe}</td>
               <td>{$v.dong}</td>
            </tr>
</foreach>
          </tbody>
        </table>
        </form>
      </div>


    </div>
  </div>
  <!-- content end -->
</div>

<footer>
  <div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3790269'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3790269%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div></footer>

<!--[if lt IE 9]>
<script src="http://cdn.yudw.com/admin/assets/js/jquery1.11.1.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/modernizr.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/polyfill/rem.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/polyfill/respond.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://cdn.yudw.com/admin/assets/js/jquery.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/amazeui.min.js"></script>
<!--<![endif]-->

</body>
</html>
