<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>快递信息系统  - 9月新版</title>
    <link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.css"/>

</head>
<body ontouchstart>
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>

    <div class="container" id="container"></div>
    
    <div class="page">
    <div class="page__hd">
        <h1 class="page__title"><center>快递信息系统</center></h1>
        <p class="page__desc"><center>你的ID：{$uid}<br>用户名：{$username}</center></p>
    </div>
    <!-- 
    <div class="page__bd">
        <div class="weui-cells__title">图标上的数字表示还有几个快递未拿</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">员工绩效系统</div>
                <div class="weui-cell__ft" style="font-size: 0">
                    <span style="vertical-align:middle; font-size: 17px;">（正在开发）</span>
                    <span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
                </div>
            </div>
        </div>
        
       
        
 -->
        <div class="weui-cells__title">图标上的数字表示还有几个快递未拿</div>
        <div class="weui-cells" >
        <!-- 
        	 <div class="weui-cell weui-cell_access" onclick=" document.location='{:U('work/kuaidi/read?type=yesterday')}';">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">（昨天）剩余的未拿名单</span>
                    <span class="weui-badge" style="margin-left: 5px;">未拿：{$yesterdayCount}</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            
        	<div class="weui-cell weui-cell_access" onclick=" document.location='{:U('work/kuaidi/read?type=today')}';">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">当天全部快递名单</span>
                    <span class="weui-badge" style="margin-left: 5px;">未拿：{$todayCount}</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        
        
        <if condition="$boxsitting eq 1 ">
        <div class="weui-cell weui-cell_access" onclick=" document.location='{:U('work/box/read?type=box')}';">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">智能快递柜代拿名单</span>
                    <span class="weui-badge" style="margin-left: 5px;">未拿：{$boxCount}</span>
                </div>
                <div class="weui-cell__ft"></div>
        </div>
        </if>
         -->
        <if condition="$ydsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=yd')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/yunda.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$ydCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>韵达</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$ydCount}</p>
                </div>
            </div>
          </if>  
            
            
           <if condition="$htsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=ht')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/huitong.png" style="width: 50px;display: block"/>
                   <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$htCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>汇通</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$htCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$ttsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=tt')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/tiantian.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$ttCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>天天</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$ttCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$stsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=st')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/shentong.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$stCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>申通</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$stCount}</p>
                </div>
            </div>
            </if>
           
           <if condition="$wpsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=wp')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/weipinhui.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$wpCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>唯品会</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$wpCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$kjsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=kj')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/kuaijie.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$kjCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>快捷</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$kjCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$gtsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=gt')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/guotong.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$gtCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>国通</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$gtCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$qfsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=qf')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/quanfeng.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$qfCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>全峰</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$qfCount}</p>
                </div>
            </div>
            </if>
            
             <if condition="$tmsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=tm')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/tianmao.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$tmCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>天猫</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$tmCount}</p>
                </div>
            </div>
            </if>
           
             
             <if condition="$yssitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=ys')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/yousu.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$ysCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>优速</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$ysCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$rfdsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=rfd')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/rufengda.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$rfdCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>如风达</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$rfdCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$yzsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=yz')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/youzheng.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$yzCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>邮政</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$yzCount}</p>
                </div>
            </div>
            </if>
            
            <if condition="$emssitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=ems')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/ems.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$emsCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>EMS</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$emsCount}</p>
                </div>
            </div>
            </if>
            
           <if condition="$ansitting eq 1 "> 
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=an')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/anneng.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$anCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>安能</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$anCount}</p>
                </div>
            </div>
            </if>
            
             <if condition="$snsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=sn')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/suning.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$snCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>苏宁</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$snCount}</p>
                </div>
            </div>
            </if>
            
            
           <if condition="$wxsitting eq 1 ">
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=wx')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/wanxiang.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$wxCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>万象</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$wxCount}</p>
                </div>
            </div>
           </if>
            
            <!-- 
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=dd')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/dangdang.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$ddCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>当当</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$ddCount}</p>
                </div>
            </div>
            <div class="weui-cell" onclick=" document.location='{:U('work/kuaidi/read?type=db')}';">
                <div class="weui-cell__hd" style="position: relative;margin-right: 20px;">
                    <img src="__PUBLIC__/upload/kuaidi/debang.jpg" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">{$dbCount}</span>
                </div>
                <div class="weui-cell__bd">
                    <p>德邦</p>
                    <p style="font-size: 13px;color: #888888;">未拿：{$dbCount}</p>
                </div>
            </div>
           
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">投诉订单</span>
                    <span class="weui-badge" style="margin-left: 5px;">0</span>
                </div>
                <div class="weui-cell__ft">请赶快处理</div>
            </div>
            -->
           
           
           
            
            
            
        </div>
    </div>
    
</div>

    <script src="./zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="./weui.min.js"></script>
    <script src="./example.js"></script>
</body>
</html>