<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2017快递信息系统 New</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="http://cdn.yudw.com/assets/css/amazeui.min.css">
</head>
<body>


<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <h1 class="am-header-title">
    <a href="#title-link">快递信息系统</a>
  </h1>
</header>

<!-- Slider -->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
  <ul class="am-slides">
    <li>
      <a href="all.php"><img src="__PUBLIC__/kdimg/all.jpg"></a>
    </li>
     </ul>
</div>


<!-- Gallery -->
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
 
  <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=yd')}">
        <img src="__PUBLIC__/kdimg/yunda.png"/>
        <h3 class="am-gallery-title">韵达</h3>
            </a>
    </div>
  </li>

 <li>
    <div class="am-gallery-item">
 <a href="{:U('kd/admin/read?kuaidi=ht')}" />
      <img src="__PUBLIC__/kdimg/huitong.png"/>      
 <h3 class="am-gallery-title">汇通</h3>
   
      </a> 
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=tt')}">
        <img src="__PUBLIC__/kdimg/tiantian.png"/>
        <h3 class="am-gallery-title">天天</h3>
            </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=st')}">
        <img src="__PUBLIC__/kdimg/shentong.png"/>
        <h3 class="am-gallery-title">申通</h3>
              </a>
    </div>
  </li>

  <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=jd')}">
        <img src="__PUBLIC__/kdimg/jingdong.jpg" />
        <h3 class="am-gallery-title">京东</h3>
             </a>
    </div>
  </li>

 <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=wp')}">
        <img src="__PUBLIC__/kdimg/weipinhui.png" />
        <h3 class="am-gallery-title">唯品会</h3>
             </a>
    </div>
  </li>

 <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=kj')}">
        <img src="__PUBLIC__/kdimg/kuaijie.jpg" />
        <h3 class="am-gallery-title">快捷</h3>
             </a>
    </div>
  </li>
<li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=gt')}">
        <img src="__PUBLIC__/kdimg/guotong.jpg" />
        <h3 class="am-gallery-title">国通</h3>
             </a>
    </div>
  </li>
 <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=qf')}">
        <img src="__PUBLIC__/kdimg/quanfeng.jpg" />
        <h3 class="am-gallery-title">全峰</h3>
             </a>
    </div>
  </li>
 <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=tm')}">
        <img src="__PUBLIC__/kdimg/tianmao.png" />
        <h3 class="am-gallery-title">天猫</h3>
             </a>
    </div>
  </li>
<li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=ys')}">
        <img src="__PUBLIC__/kdimg/yousu.jpg" />
        <h3 class="am-gallery-title">优速</h3>
             </a>
    </div>
  </li>
<li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=rfd')}">
        <img src="__PUBLIC__/kdimg/rufengda.png" />
        <h3 class="am-gallery-title">如风达</h3>
             </a>
    </div>
  </li>
<li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=yz')}">
        <img src="__PUBLIC__/kdimg/youzheng.png" />
        <h3 class="am-gallery-title">邮政</h3>
             </a>
    </div>
  </li>
  <li>
    <div class="am-gallery-item">
      <a href="{:U('kd/admin/read?kuaidi=ems')}">
        <img src="__PUBLIC__/kdimg/ems.png" />
        <h3 class="am-gallery-title">EMS</h3>
             </a>
    </div>
  </li>
<br>

<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
 <div class="am-list-news-hd am-cf">
           
  </div>

  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
         <h2><strong>高级管理系统</strong></h2>
  
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">

      <li class="am-g">
      <a href="{:U('kd/kefu/index')}">客服专用查询系统</a>
      </li>

    </ul>
  </div>
</div>



</body>
</html>
