<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$type|get_name_by_type} - 待处理列表</title>
  <meta name="description" content="一元代拿">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="http://cdn.yudw.com/admin/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="http://cdn.yudw.com/admin/assets/css/amazeui.min.css"/>

  <style type="text/css">
  	.am-table{
  		width: 100%;
		overflow-y: auto;
		_overflow: auto;
		margin: 0 0 1em;
word-break: keep-all;white-space:nowrap;

  	}
  	.am-table>thead{
  		 border-top:1px solid #ddd ;
  		 border-right:1px solid #ddd ;
  	}
    .am-table>tbody{    	
  		  border-right:1px solid #ddd ;
  		  border-bottom:1px solid #ddd ;
    }
  	.am-table>tbody>tr>td{border: none;}
  	.am-table>tbody>tr>td,.am-table>thead>tr>th{
  		  border-top:1px solid #ddd ;
  		  border-left:1px solid #ddd ;
  	}
  	.input{padding: 0px 12px 4px 12px;}
  	.tle{margin-bottom: 12px;}
  </style>
</head>
<body>



<!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
   
	<div class="am-fl am-cf tle"><strong class="am-text-primary am-text-lg">以下汇通单有可能存在问题，等待处理列表（共{$c}条）</strong></div> 
	   
    </div>
  
    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form" style="width: 100%; overflow: auto;">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
              	<!--
                <th class="table-check"><input type="checkbox" /></th>
                
               
                -->
                 <th class="table-title">订单号</th>
                <th class="table-title">姓名</th>
                 <th class="table-type">ID</th>
                 <th class="table-id">付款</th>
               <th class="table-set">手机号</th>
     			<th class="table-date">状态</th>
    <th class="table-date">宿舍</th>
                <th class="table-date">签收情况</th>
      <if condition=" $type  eq 'today' ">
                 <th class="table-author">快递</th>
      </if>
                <th class="table-set">短号</th>
           
                <th class="table-set">备注</th>
 <th class="table-date">下单时间</th>
              </tr>
          </thead>
          <tbody>
<foreach name="pay_order" item="v">

  <tr>
          
              <!--  <td>{$today_time_first - $v.id}</td> -->
               <td>{$v.order_id}</td>
              <td>{$v.consignee}</td>
                <td>{$v.user_id}</td>
               <td><if condition=" $v.pay_status  eq 1 "><font color="green">已付款</font></if></td>
            
             <td>{$v.mobile}</td>
                 <td><if condition=" $v.order_status  eq 8 "><font color="red"><a href="http://www.yykddn.com/mobile/kuaidi/qiangzhi_queren_order/id/{$v.order_id}">强制确认收获？</a></font><else if>{$v.order_status|get_renren_status}</if></td>
                 <td>{$v.sushe}</td>
                <td>
                <if condition=" $v.order_status  eq '0' ">
                
               {$v.state}</td>
         <else />
         {$v.sushe}（{$v.receiver}{$v.receiver|get_renren_name_by_uid}）（{$v.receivetime}{$v.order_status|get_order_status}）
         </if>
          <if condition=" $type  eq 'today' ">
                 <th class="table-author">{$v.type|get_name_by_type}</th>
      </if>
                   <td>{$v.duanhao}</td>
                   <td>{$v.user_note}</td>
                    <td>{$v.add_time}</td>
            </tr>






          
</foreach>
          </tbody>
        </table>
        </form>
      </div>


    </div>
  </div>
  <!-- content end -->
</div>

<footer>
  <div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3790269'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3790269%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div></footer>

<!--[if lt IE 9]>
<script src="http://cdn.yudw.com/admin/assets/js/jquery1.11.1.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/modernizr.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/polyfill/rem.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/polyfill/respond.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://cdn.yudw.com/admin/assets/js/jquery.min.js"></script>
<script src="http://cdn.yudw.com/admin/assets/js/amazeui.min.js"></script>
<!--<![endif]-->

<script type="text/javascript">
function status(content_id)
{
 if(confirm("确定将状态改成已拿？"))
 {
 	var url = location.href;
 	location.href = url+'?action=setstatus&&content_id='+content_id;
 }
}
</script>
</body>
</html>
