<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>抢单大厅</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.css">
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
</head>
<body>
<!--  
<if condition="$is_validated eq 100">
 <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">你还没有成为【抢单】服务者</h2>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
           <a href="javascript:;" class="weui-btn weui-btn_primary" id="showrenzheng">申请</a>
        </p>
    </div>
</div></div></div>
</if>
-->
<if condition="$is_validated eq 0">
 <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">等待审核</h2>
        <p class="weui-msg__desc">我们会加快审核</p>
        
   </div>

</div></div></div>
</if>

<if condition="$is_validated eq 3 ">
 <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">审核失败</h2>
        <p class="weui-msg__desc">感谢你对我们的关注与支持</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="showrenzheng">重新申请</a>
        </p>
    </div>
</div></div></div>
</if>
<if condition="$is_validated eq 4 ">
 <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">禁止抢单</h2>
        <p class="weui-msg__desc">感谢你对我们的关注与支持</p>
    </div>
   
</div></div></div>
</if>

<if condition="$is_validated eq 1 ">
 <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">你已成功通过实名认证</h2>
       <p class="weui-msg__desc"></p>
      
        <a href="http://www.yykddn.com/article/detail?id=1" class="weui-btn weui-btn_warn" id="showgonglue">抢单说明</a>
    
</div>
    
   
    
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="__ROOT__/qiangdan/order/order_list"  class="weui-btn weui-btn_primary" >开始抢单</a>
        </p>
    </div>
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('qiangdan/order/my_order')}" class="weui-btn weui-btn_disabled weui-btn_default" >我抢的单</a>
        </p>
    </div>
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('qiangdan/index/tuisong')}" class="weui-btn weui-btn_disabled weui-btn_default" >取消订单提醒</a>
        </p>
    </div>
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('my/user/school_qiang')}" class="weui-btn weui-btn_disabled weui-btn_default" >抢单员选择学校</a>
        </p>
    </div>
    
     <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('chat/index/index')}" class="weui-btn weui-btn_plain-primary" >最近联系的人</a>
        </p>
    </div>
    
    
<center><h2 class="weui-msg__title">抢单前，请先加群，改好备注</h2></center>
<div class="weui-msg__icon-area">
<div class="weui-cells__title">群二维码过期时间：{$school.expire}</div>
        <center><img src="http://s.jiathis.com/qrcode.php?url={$school.qrcode}" width="200px" alt="{$school.name}"><br>
        如二维码过期，请加微信：13516565558
        </center>
</div> 
     
</div></div></div>
</if>

<div class="js_dialog" id="renzheng" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">本公司建立健全用户信息保护制度，对用户信息严格保密。未经用户同意，不向任何人提供个人信息。</div>
                <div class="weui-dialog__ft">
                    <a href="__ROOT__/qiangdan/index/join" class="weui-dialog__btn weui-dialog__btn_primary">我接受</a>
                </div>
            </div>
</div>
   
 

        
    
<script type="text/javascript">
    // toast
    $(function(){
        var $Info = $('#Info');
        $('#showInfo').on('click', function(){
            if ($Info.css('display') == 'none'){
            	$("#Info").css('display','block'); 
            	
            }else{
            	$("#Info").css('display','none'); 
            };
           
           
            
        });
    });
    
    // toast
    $(function(){
        var $renzheng = $('#renzheng');
        $('#showrenzheng').on('click', function(){
            if ($renzheng.css('display') == 'none'){
            	$("#renzheng").css('display','block'); 
            	
            }else{
            	$("#renzheng").css('display','none'); 
            };
           
           
            
        });
    });
    
    
    //我是商家
    $(function(){
        var $shangjia = $('#shangjia');

        $('#showshangjia').on('click', function(){
            $("#shangjia").css('display','block');  
        });
        
        
        $('#closeshangjia').on('click', function(){
   			$("#shangjia").css('display','none'); 
        });
        
    });
    
  </script>
  
  <div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3790269'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3790269%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>