<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>寄件</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="__PUBLIC__/ydui/css/ydui.css?rev=a4b9d6e8c9c1cae7ea4676f911682af7"/>
    <link rel="stylesheet" href="__PUBLIC__/ydui/css/demo.css"/>
    <script src="__PUBLIC__/ydui/js/ydui.flexible.js"></script>
</head>
<style>
.kongbai{
	height:10px;
}
.small{
	font-size:12px;	
	color:#b2b2b2;
	margin-top:2px;
}
</style>
<body>
 
<section class="g-flexview">

        <header class="m-navbar demo-small-pitch">
           
             <div class="navbar-center"><span class="navbar-title">寄件</span></div>
            <a href="{:U('kuaidi/order/index')}" class="navbar-item">寄件记录</a>
        </header>
<div class="kongbai"></div>
        <ul class="m-grids-2">
            <li class="grids-item" onclick="document.location='http://www.yykddn.com/jijian/xiadan/xiadan/type/ji/qiang/1';">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/kuaidiyuan.jpg" />
                </div>
                <div class="grids-txt">快递员上门</div>
                 <div class="grids-txt small">2小时内取件</div>
            </li>
            <li class="grids-item"  onclick="document.location='http://www.yykddn.com/jijian/xiadan/xiadan/type/ji/qiang/0';">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/yizhan.jpg" />
                </div>
                <div class="grids-txt">驿站寄件</div>
                <div class="grids-txt small">顺路就到不用等</div>
            </li>
        </ul>
<div class="kongbai"></div>
<ul class="m-grids-4">
            <li class="grids-item">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/jiage.jpg" />
                </div>
                 <div class="grids-txt small">价格查询</div>
            </li>
            <li class="grids-item">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/shixiao.jpg" />
                </div>
                <div class="grids-txt small">时效查询</div>
            </li>
            <li class="grids-item">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/jizhi.jpg" />
                </div>
                <div class="grids-txt small">禁寄物品</div>
            </li>
            <li class="grids-item">
                <div class="grids-icon">
                    <img src="__PUBLIC__/kd/dianhua.jpg" />
                </div>
                <div class="grids-txt small">快递电话</div>
            </li>
        </ul>
    

</section>
</body>
</html>
