<include file="public/header" title="我的订单" body="g4"/>
<include file="public/header_nav" title="我的订单" href="{:U('kuaidi/order/order_list')}"/>
<div class="tit-flash-sale p mytit_flash">
    <div class="maleri30">
        <ul class="">
            <li <if condition="$Request.param.order_status eq ''">class="red"</if>>
                <a href="{:U('kuaidi/order/order_list')}" class="tab_head">全部订单</a>
            </li>
            <li id="WAITPAY" <if condition="$Request.param.order_status eq '0'">class="red"</if>">
                <a href="{:U('kuaidi/order/order_list',array('order_status'=>'0'))}" class="tab_head" >未拿</a>
            </li>
            <li id="WAITSEND" <if condition="$Request.param.order_status eq '1'">class="red"</if>>
                <a href="{:U('kuaidi/order/order_list',array('order_status'=>'1'))}"  class="tab_head">已拿</a>
            </li>
             <li id="WAITCCOMMENT"  <if condition="$Request.param.order_status eq '3'">class="red"</if>>
                <a href="{:U('kuaidi/order/order_list',array('order_status'=>'3'))}" class="tab_head">已取消</a>
            </li>
            <!--<li id="WAITRECEIVE"><a href="{:U('kuaidi/order/order_list',array('order_status'=>'WAITRECEIVE'))}"  
            class="tab_head <if condition="$Request.param.order_status eq 'WAITRECEIVE'">on</if>">待收货</a></li>
            
            -->
           
        </ul>
    </div>
</div>

    <!--订单列表-s-->
    <div class="ajax_return">
    
<volist name="lists" id="list">
    
    <div class="mypackeg ma-to-20 getmore">
        <div class="packeg p">
            <div class="maleri30">
                <div class="fl">
                    <h1><span></span><span class="bgnum"></span></h1>
                    <p class="bgnum"><span>订单编号:</span><span>{$list.order_id}</span></p>
                </div>
                <div class="fr">
                    <span>{$list.order_status|status}</span>
                </div>
            </div>
        </div>
        <div class="shop-mfive p">
            <div class="maleri30">
                                           
             <div class="sc_list se_sclist paycloseto">
                 <a href="{:U('/kuaidi/order/order_detail',array('id'=>$list['order_id']))}">
                 <div class="shopimg fl">
                     <img src="{$list.type|get_img_by_type}">
                 </div>
                 <div class="deleshow fr">
                     <div class="deletes">
                         <span class="similar-product-text">{$list.kuaidi_name}</span>
                     </div>
                     <div class="prices  wiconfine">
                         <p class="sc_pri"><span>￥</span><span>{$list.order_amount}</span></p>
                     </div>
                     <div class="qxatten  wiconfine">
                         <p class="weight"><span>下单:{$list.add_time}</span></p>
                     </div>
                     <div class="buttondde">
                     </div>
                 </div>
                 </a>
             </div>
             </div>
        </div>
        <div class="shop-rebuy-price p">
            <div class="maleri30">
                <span class="price-alln">
                    <!--<span class="red">￥11.00</span><span class="threel">共2件</span>-->
                    <span class="red">￥{$list.order_amount}</span><span class="threel" id="goodsnum"></span>
                </span>
   
<if condition="$list.order_status eq 0"> <a class="shop-rebuy paysoon" onclick="cancel_order({$list.order_id})">取消订单</a></if>
<if condition="$list.order_status neq 0">  <a class="shop-rebuy " href="{:U('/kuaidi/order/order_detail',array('id'=>$list['order_id']))}">查看详情</a></if>
         </div>
        </div>
    </div>
    
    
   </volist> 
    
    
    
    
    
    
        <if condition="count($lists) eq 0">
            <!--没有内容时-s--->
            <div class="comment_con p">
                <div class="none">
                    <img src="__STATIC__/images/none2.png">
                    <br><br>
                    抱歉未查到数据！
                    
                </div>
            </div>
            <!--没有内容时-e--->
        </if>
    </div>
    <!--订单列表-e-->

<script type="text/javascript">
   

    /**
     * 取消订单
     */
    function cancel_order(id){
        if(!confirm("确定取消订单?"))
            return false;
        $.ajax({
            type: 'GET',
            dataType:'JSON',
            url:"/index.php?m=kuaidi&c=order&a=cancel_order&id="+id,
            success:function(data){
                if(data.code == 1){
                    layer.open({content:data.msg,time:2});
                    location.href = "/index.php?m=kuaidi&c=order&a=order_list";
                }else{
                    layer.open({content:data.msg,time:2});
                    location.href = "/index.php?m=kuaidi&c=order&a=order_list";
                    return false;
                }
            },
            error:function(){
                layer.open({content:'网络失败，请刷新页面后重试',time:3});
            },
        });
    }

    /**
     * 确定收货
     */
    function orderConfirm(id){
        if(!confirm("确定收到该订单商品吗?"))
            return false;
        location.href = "/index.php?m=Mobile&c=User&a=order_confirm&id="+id;
    }

   
</script>
<div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3790269'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3790269%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
