<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>发送消息</title>
    <link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.css"/>
<style type="text/css">
body{background-color:#efeff4;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
</style>
</head>
<body>
   
<div class="page">
    <div class="page__hd">
        <h3 class="page__title"><center>向用户  {$name} 发送消息</center></h3>
    </div>
    <div class="page__bd">
        <form method="post">
  
        <div class="weui-cells__title">内容</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" name="content" placeholder="请输入内容" rows="3"></textarea>
                   
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" type="submit">发送</button>
        </div>
    </div>
   </form>
</div>


</body></html>